header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: auto;
}

.logo{
    transition: transform 1s;
    transform: translateX(0) scale(1.0);
}

.logo:hover{
    transform: translateX(0px) scale(1.2);
}

nav{
    position: absolute;
    top: 110;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a{
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 22px;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;

}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    transition: 1s;
}

.produtos li h2{
    transition: 1s;
}

.produtos li:hover{
    border-color: #C78C19;
}

.produtos li:active{
    border-color: green;
}

.produtos li:hover h2{
    font-size: 34px;
}

h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px;
}

.copy{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 480px){
    .caixa, .principal{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
        align-items: center;
    }
    .produtos{
        width: 100%;
    }
    .produtos li{
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}